In [43]:
# import dependencies 
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import urllib.request
from PIL import Image
import json

In [3]:
# Setup splinter
executable_path = {'executable_path': '/Users/kristenhanold/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA - Scraping Most Recent Mars News

In [4]:
# create a connection to NASA site
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
# Create a Beautiful Soup and HTML object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Scrape the Mars News Site and collect the latest News Title 
# Assign the text to variables that you can reference later
nasa_title = soup.find('div', class_ = 'content_title').text
print(nasa_title)

Mars Is Getting a New Robotic Meteorologist

In [7]:
# Scrape the Mars News Site and collect the Paragraph Text
# Assign the text to variables that you can reference later
nasa_paragraph = soup.find('div', class_ = 'article_teaser_body').text
print(nasa_paragraph)

Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles.

# JPL Mars Space Images - Scraping Featured Image

In [8]:
# create a connection to NASA image site
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Create a Beautiful Soup and HTML object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image
# Find the image url to the full size `.jpg` image.

nasa_img = soup.find('img', class_ = 'headerimage fade-in')['src']
nasa_img

'image/featured/mars2.jpg'

In [11]:
# Assign the url string to a variable called `featured_image_url`.
featured_image_url = f"https://spaceimages-mars.com/{nasa_img}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [12]:
# display above image
urllib.request.urlretrieve(featured_image_url, 'nasa.jpg')

img = Image.open('nasa.jpg')

img.show()

# Mars Facts - Scraping with Pandas

In [13]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
url = 'https://galaxyfacts-mars.com'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
# extract only the second table containing 'MARS PLANET PROFILE'
tables_df = tables[1]
tables_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
# adding column names to new dataframe containing mars info
mars_df = pd.DataFrame({
    'Mars Profile': tables_df[0],
    'Measurements': tables_df[1]
})
mars_df

           Mars Profile                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# convert the data to a HTML table string and removing unwanted newlines
html_table = mars_df.to_html().replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Profile</th>      <th>Measurements</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [36]:
# create a connection to GUSS astropedia site
url = 'https://marshemispheres.com/'
browser.visit(url)

In [37]:
# Create a Beautiful Soup and HTML object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
# return an iterable list of all the hemisphere links
results = soup.find_all('div', class_ = 'item')

In [39]:
# create an empty list for image urls
hemisphere_image_urls = []

for result in results:
    
    hemispheres = {}
    
    hemispheres['title'] = result.find('h3').text
    
    hemispheres['img_url'] = result.img['src']
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemispheres)

In [44]:
# display hemisphere_image_urls list using json
print(json.dumps(hemisphere_image_urls, sort_keys=False, indent=4))

[
    {
        "title": "Cerberus Hemisphere Enhanced",
        "img_url": "images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"
    },
    {
        "title": "Schiaparelli Hemisphere Enhanced",
        "img_url": "images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"
    },
    {
        "title": "Syrtis Major Hemisphere Enhanced",
        "img_url": "images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"
    },
    {
        "title": "Valles Marineris Hemisphere Enhanced",
        "img_url": "images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"
    }
]